In [3]:
import streamlit as st

import pyodbc
import time
import datetime

 
import pandas as pd
import yfinance as yf

In [4]:
tickerData = yf.Ticker("AAPL") # Get ticker data
df = tickerData.history(period='1d', start='2020-01-01', end='2024-01-01') #get the historical prices for this ticker
df.reset_index(inplace=True)
df = df.round(2)
df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020/01/02,71.88,72.94,71.62,72.88,135480400,0.0,0.0
1,2020/01/03,72.10,72.93,71.94,72.17,146322800,0.0,0.0
2,2020/01/06,71.28,72.78,71.03,72.74,118387200,0.0,0.0
3,2020/01/07,72.75,73.01,72.18,72.40,108872000,0.0,0.0
4,2020/01/08,72.10,73.87,72.10,73.57,132079200,0.0,0.0
...,...,...,...,...,...,...,...,...
1001,2023/12/22,194.44,194.67,192.24,192.87,37122800,0.0,0.0
1002,2023/12/26,192.88,193.16,192.10,192.32,28919300,0.0,0.0
1003,2023/12/27,191.76,192.77,190.37,192.42,48087700,0.0,0.0
1004,2023/12/28,193.41,193.92,192.44,192.85,34049900,0.0,0.0
1005,2023/12/29,193.17,193.67,191.01,191.80,42628800,0.0,0.0

In [5]:
df['Close']

0        72.88
1        72.17
2        72.74
3        72.40
4        73.57
         ...
1001    192.87
1002    192.32
1003    192.42
1004    192.85
1005    191.80
Name: Close, Length: 1006, dtype: float64

In [6]:
df['Date']

0       2020/01/02
1       2020/01/03
2       2020/01/06
3       2020/01/07
4       2020/01/08
           ...
1001    2023/12/22
1002    2023/12/26
1003    2023/12/27
1004    2023/12/28
1005    2023/12/29
Name: Date, Length: 1006, dtype: object